
/* Green: #81C98F 
linechart :  background #E2E3F6 
             traffic #e4e4e4*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #000;
    /* color: #333; */
}

h3 {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

li {
    padding: 2em 0;  
}


.header { 
    grid-area: head;
    background: #7477bf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav { 
    grid-area: nav;
    background: #4d4c72;
}

.main-content { 
    grid-area: main;
    background: #fff;
    display: grid;
}

.grid-container {
    /* height: 100vh; */
    /* margin: 0 auto; */
    /* color: #666; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "head"
    "nav"
    "main";
}

.main-nav img {
    display: block;
    width: 20%;
}


/* Header styles */
.bell-image {
    width: 30px;
}

.bell-icon {
    display: flex;
    width: 15%; 
    justify-content: space-between; 
    padding-right: 1.5em;
}

.avavtar-image {
    width: 50px;
    height: auto;
    border-radius: 50%;;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* navigation styles */
.main-nav ul {
    display: flex;
}

/* main content styles */

/* soacial images settings */
.social-image {
    width: 30px;
}

/* charts styles */

/* .widget-container-full {
    position: relative;
    width: 95vw;
    height: 70vh;
} */

.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .grid-container {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "head head"
        "nav main";
    }

    .main-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-header {
        grid-column: 1 / -1;
    }

    .traffic, 
    .social {
        grid-column: 1 / -1;
        /* grid-column: 1 / span 2; */
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column : 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}

/* @media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 200px auto 300px;
        grid-template-areas:
        "head head head"
        "nav main main"
        "nav main main";
        
    }
} */






